name: Issue Labeler

on:
  issues:
    types: [opened, edited]

jobs:
  label-issues:
    name: Auto Label Issues
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Label Issues
        uses: actions/labeler@v4
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          configuration-path: .github/labeler.yml
          sync-labels: true

